:root {
    --primary-color: #3861FB;
    --second-color: rgb(155, 177, 255);
    --background-color: #F5F5f5;
    --text-color: #A2A2A2;
    --text-success: #4CD050;
    --text-danger: #EF181D;
    --text-white: #e8e8e8;
}


